.crawl-container {
  position: relative;
  margin: 0 auto;
  width: 600px;
  height: 600px;
}

section {
  -webkit-perspective: 300;
  width: 600px;
  margin: -75% auto 0;
}

article {
  height: 100%;
  overflow: scroll;
  font-size: 25px;
  height: 100%;
  -webkit-transform: rotateX(35deg);
  -moz-transform: rotateX(35deg);
  transform: rotateX(35deg);
}

article p {
  -webkit-transform: translateY(800px);
  -moz-transform: translateY(800px);
  transform: translateY(800px);
  animation: txtdmove 70s linear 3s 1;
  padding: 0 20%;
}

article p:last-child {
  margin-bottom: 1400px;
}

article::-webkit-scrollbar { 
  display: none; 
}